Repository apple/swift-collections, pull requests merged in 2023-04, with the labels that each got.

#263 BitArray API refinements & additions
  Sources/BitCollections/BitArray/BitArray+BitwiseOperations.swift
  Sources/BitCollections/BitArray/BitArray+ChunkedBitsIterators.swift
  Sources/BitCollections/BitArray/BitArray+Codable.swift
  Sources/BitCollections/BitArray/BitArray+Collection.swift
  Sources/BitCollections/BitArray/BitArray+Copy.swift
  Sources/BitCollections/BitArray/BitArray+CustomReflectable.swift
  Sources/BitCollections/BitArray/BitArray+CustomStringConvertible.swift
  Sources/BitCollections/BitArray/BitArray+Descriptions.swift
  Sources/BitCollections/BitArray/BitArray+Equatable.swift
  Sources/BitCollections/BitArray/BitArray+ExpressibleByArrayLiteral.swift
  Sources/BitCollections/BitArray/BitArray+ExpressibleByStringLiteral.swift
  Sources/BitCollections/BitArray/BitArray+Extras.swift
  Sources/BitCollections/BitArray/BitArray+Fill.swift
  Sources/BitCollections/BitArray/BitArray+Hashable.swift
  Sources/BitCollections/BitArray/BitArray+Initializers.swift
  Sources/BitCollections/BitArray/BitArray+Invariants.swift
  Sources/BitCollections/BitArray/BitArray+LosslessStringConvertible.swift
  Sources/BitCollections/BitArray/BitArray+RandomBits.swift
  Sources/BitCollections/BitArray/BitArray+RangeReplaceableCollection.swift
  Sources/BitCollections/BitArray/BitArray+Shifts.swift
  Sources/BitCollections/BitArray/BitArray+Testing.swift
  Sources/BitCollections/BitArray/BitArray._UnsafeHandle.swift
  Sources/BitCollections/BitArray/BitArray.swift
  Tests/BitCollectionsTests/BitArrayTests.swift
Labels: BitCollections

#270 Make most of Rope inlinable
  Sources/HashTreeCollections/HashNode/_HashNode+Builder.swift
  Sources/RopeModule/Rope/Basics/Rope+Builder.swift
  Sources/RopeModule/Rope/Basics/Rope+Debugging.swift
  Sources/RopeModule/Rope/Basics/Rope+Invariants.swift
  Sources/RopeModule/Rope/Basics/Rope+_Node.swift
  Sources/RopeModule/Rope/Basics/Rope+_Storage.swift
  Sources/RopeModule/Rope/Basics/Rope+_UnmanagedLeaf.swift
  Sources/RopeModule/Rope/Basics/Rope+_UnsafeHandle.swift
  Sources/RopeModule/Rope/Basics/Rope.swift
  Sources/RopeModule/Rope/Basics/RopeMetric.swift
  Sources/RopeModule/Rope/Basics/_RopeItem.swift
  Sources/RopeModule/Rope/Basics/_RopePath.swift
  Sources/RopeModule/Rope/Basics/_RopeVersion.swift
  Sources/RopeModule/Rope/Conformances/Rope+Collection.swift
  Sources/RopeModule/Rope/Conformances/Rope+Index.swift
  Sources/RopeModule/Rope/Conformances/Rope+Sequence.swift
  Sources/RopeModule/Rope/Operations/Rope+Append.swift
  Sources/RopeModule/Rope/Operations/Rope+Extract.swift
  Sources/RopeModule/Rope/Operations/Rope+Find.swift
  Sources/RopeModule/Rope/Operations/Rope+ForEachWhile.swift
  Sources/RopeModule/Rope/Operations/Rope+Insert.swift
  Sources/RopeModule/Rope/Operations/Rope+Join.swift
  Sources/RopeModule/Rope/Operations/Rope+MutatingForEach.swift
  Sources/RopeModule/Rope/Operations/Rope+Remove.swift
  Sources/RopeModule/Rope/Operations/Rope+RemoveSubrange.swift
  Sources/RopeModule/Rope/Operations/Rope+Split.swift
  Sources/RopeModule/Utilities/Optional Utilities.swift
  Utils/swift-collections.xcworkspace/xcshareddata/xcschemes/_RopeModule.xcscheme
Labels: RopeModule

#272 BigString: Fix String.Index._knownScalarAligned
  Sources/RopeModule/Utilities/String.Index+ABI.swift
Labels: RopeModule

#271 Rope: Fix `Sendable` conformance
  Sources/RopeModule/Rope/Basics/Rope+_Node.swift
Labels: RopeModule

#275 [OrderedDictionary] Explicitly mention in documentation that keys/values are ordered
  Sources/OrderedCollections/OrderedDictionary/OrderedDictionary.swift
Labels: OrderedCollections

#254 [OrderedDictionary] Explicitly mention in documentation that keys/values are ordered
  Sources/OrderedCollections/OrderedDictionary/OrderedDictionary.swift
Labels: OrderedCollections

#276 [HashCollections] Ensure `self` doesn’t get destroyed before we’re done working with it
  Sources/HashTreeCollections/TreeDictionary/TreeDictionary.swift
  Sources/HashTreeCollections/TreeSet/TreeSet+Extras.swift
  Sources/HashTreeCollections/TreeSet/TreeSet+SetAlgebra basics.swift
Labels: HashTreeCollections
