Repository apple/swift-collections, pull requests merged in 2023-12, with the labels that each got.

#335 [OrderedDictionary] forward ordered dictionary values equality to values property
  Benchmarks/Benchmarks/OrderedDictionaryBenchmarks.swift
  Sources/OrderedCollections/OrderedDictionary/OrderedDictionary+Values.swift
  Tests/OrderedCollectionsTests/OrderedDictionary/OrderedDictionary+Values Tests.swift
Labels: OrderedCollections

#340 [OrderedSet] forward ordered set equality to elements property
  Benchmarks/Benchmarks/OrderedSetBenchmarks.swift
  Sources/OrderedCollections/OrderedSet/OrderedSet+Equatable.swift
  Sources/OrderedCollections/OrderedSet/OrderedSet+SubSequence.swift
  Tests/OrderedCollectionsTests/OrderedSet/OrderedSetTests.swift
Labels: OrderedCollections

#341 [Deque] check deque equality with buffer identity
  Benchmarks/Benchmarks/DequeBenchmarks.swift
  Sources/DequeModule/Deque+Equatable.swift
  Sources/DequeModule/Deque._Storage.swift
Labels: Deque

#342 [OrderedDictionary] Fix usage of deprecated API in index(forKey:) docs
  Sources/OrderedCollections/OrderedDictionary/OrderedDictionary+Elements+SubSequence.swift
  Sources/OrderedCollections/OrderedDictionary/OrderedDictionary+Elements.swift
  Sources/OrderedCollections/OrderedDictionary/OrderedDictionary.swift
Labels: OrderedCollections

#343 [1.0] Backport Sendable conformances on all public types
  Sources/DequeModule/Deque+Collection.swift
  Sources/DequeModule/Deque+Sendable.swift
  Sources/OrderedCollections/OrderedDictionary/OrderedDictionary+Elements+SubSequence.swift
  Sources/OrderedCollections/OrderedDictionary/OrderedDictionary+Elements.swift
  Sources/OrderedCollections/OrderedDictionary/OrderedDictionary+Sendable.swift
  Sources/OrderedCollections/OrderedDictionary/OrderedDictionary+Sequence.swift
  Sources/OrderedCollections/OrderedDictionary/OrderedDictionary+Values.swift
  Sources/OrderedCollections/OrderedSet/OrderedSet+Sendable.swift
  Sources/OrderedCollections/OrderedSet/OrderedSet+SubSequence.swift
  Sources/OrderedCollections/OrderedSet/OrderedSet+UnorderedView.swift
  Sources/OrderedCollections/OrderedSet/OrderedSet+UnstableInternals.swift
Labels: OrderedCollections, Deque

#346 OrderedSet: Fix sendable conformance on old swifts
  Sources/OrderedCollections/OrderedSet/OrderedSet+Sendable.swift
Labels: OrderedCollections

#347 Update CMake configuration
  Sources/DequeModule/CMakeLists.txt
  Sources/OrderedCollections/CMakeLists.txt
Labels: OrderedCollections, Deque
